body {
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

.canvas-container {
    text-align: center;
    max-width: 800px;
}

    .canvas-container canvas {
        max-width: 800px;
    }

    .canvas-container .image-info {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .canvas-container button,
    .canvas-container a,
    .canvas-container label {
        display: none;
        font-size: 20px;
    }

    .canvas-container a {
        text-decoration: none;
    }
